<!-- Section: Main panel -->
<section class="mb-5">

  <!-- Card -->
  <div class="card card-cascade narrower">

    <!-- Section: Chart -->
    <section>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-xl-5 col-lg-12 mr-0 pb-2">

          <!-- Card image -->
          <div class="view view-cascade gradient-card-header light-blue lighten-1">
            <h2 class="h2-responsive mb-0 font-weight-500">Clientes</h2>
          </div>
        </div>

      </div>
      <!-- Grid row -->

    </section>
    <!-- Section: Chart -->

    <!-- Section: Table -->
    <section>

      <div class="card card-cascade narrower z-depth-0 my-5">

        <div
          class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

          <div>
            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"
              [routerLink]="['/clientes/form']">
              <i class="far fa-user-plus"></i></button>
            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i
                class="fas fa-columns mt-0"></i></button>
          </div>

          <a href="" class="white-text mx-3">Listado de Clientes</a>

          <div> </div>

        </div>

        <div class="px-4">

          <div class="table-responsive">

            <!--Table-->
            <table class="table table-hover mb-0">

              <!-- Table head -->
              <thead>
                <tr>
                  <th class="th-md">ID</th>
                  <th class="th-md">Nombre</th>
                  <th class="th-md">Apellido</th>
                  <th class="th-md">Email</th>
                  <th class="th-md">Fecha</th>
                  <th class="th-md" colspan="2">Acciones</th>
                </tr>
              </thead>
              <!-- Table head -->

              <!-- Table body -->
              <tbody>
                <tr *ngFor="let cliente of clientes">
                  <td> {{ cliente.id }} </td>
                  <td> {{ cliente.nombre }} </td>
                  <td> {{ cliente.apellido | uppercase }} </td>
                  <td> {{ cliente.email }} </td>
                  <td> {{ cliente.createAt | date:"EEEE dd, MMMM yyyy" }} </td>
                  <td>
                    <button class="btn btn-primary" name="button" [routerLink]="['/clientes/form', cliente.id]">
                      <i class="fal fa-pencil"></i></button>
                    <button class="btn btn-danger" name="delete" (click)="delete(cliente)">
                      <i class="fal fa-trash-alt"></i></button>

                  </td>
                </tr>
              </tbody>

              <!-- Table body -->

            </table>
            <!-- Table -->

          </div>

          <hr class="my-0">

          <!-- Bottom Table UI -->
          <div class="d-flex justify-content-between">

            <!-- Name -->
            <select class="mdb-select colorful-select dropdown-primary md-form hidden-md-down">
              <option value="" disabled>Rows number</option>
              <option value="1" selected>5 rows</option>
              <option value="2">25 rows</option>
              <option value="3">50 rows</option>
              <option value="4">100 rows</option>
            </select>

            <!-- Pagination -->
            <paginator-nav *ngIf="paginador" [paginador]="paginador"></paginator-nav>
            <!-- Pagination -->

          </div>
          <!-- Bottom Table UI -->

        </div>

      </div>

    </section>
    <!--Section: Table-->

  </div>
  <!-- Card -->

</section>
<!-- Section: Main panel -->