<ul class="alert alert-danger" *ngIf="errors?.length > 0">
  <li *ngFor="let err of errors"> {{ err }} </li>
</ul>

<div class="">
  <div class="card-body">
    <h5 class="card-title"> {{ titulo }} </h5>

    <form #clienteForm="ngForm">

      <div class=" form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre">
        </div>
      </div>

      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" #apellido="ngModel">
          <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <div *ngIf="apellido.errors.required">El Apellido es requerido</div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" #email="ngModel">
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">El Email es requerido</div>
            <div *ngIf="email.errors.email">Debe tener un formato de correo valido</div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input [matDatepicker]="myDatapicker" class="form-control " [(ngModel)]="cliente.createAt" name="createAt"
            style="display:inline; width:90%">
          <mat-datepicker-toggle [for]="myDatapicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatapicker></mat-datepicker>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" (click)="create()" *ngIf="!cliente.id else elseBlock"
            [disabled]="!clienteForm.valid">
            <i class="fas fa-user-plus"></i> Crear</button>

          <button class="btn btn-danger mx-2" [routerLink]="['/clientes']"> <i class="fal fa-window-close"></i>
            Cancelar</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" (click)="update()" [disabled]="!clienteForm.valid"> <i
                class="fal fa-pencil"></i> Editar</button>
          </ng-template>

        </div>
      </div>

    </form>

  </div>
</div>