<button class="btn btn-info my-3" (click)="habilitar = (habilitar)? false:true " type="button">
  {{habilitar?'ocultar':'mostrar'}} </button>
<div class="card">
  <div class="card-header fodo">
    Listado de Cursos
  </div>
  <ul class="list-group" *ngIf="habilitar">
    <li class="list-group-item" *ngFor="let curso of listaCurso"> {{curso}} </li>
  </ul>
</div>
