<app-header></app-header>




<main>
    <div class="container-fluid text-center">
        <!-- Directiva especial para cargar los contenidos -->
        <router-outlet></router-outlet>
    </div>
</main>



<app-footer></app-footer>