<!-- Pagination -->
<nav class="my-4">
  <ul class="pagination pagination-circle pg-blue mb-0" *ngIf="paginas?.length > 0">

    <!--First-->
    <li class="page-item clearfix d-none d-md-block" [ngClass]="paginador.first?'disabled':''">
      <a class="page-link" [routerLink]="['/clientes/page', 0]">First</a>
    </li>

    <!-- Arrow left -->
    <li class="page-item" *ngIf="paginador.number > 0">
      <a class="page-link" aria-label="Previous" [routerLink]="['/clientes/page', paginador.number-1]">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Anterior</span>
      </a>
    </li>

    <!-- Numbers -->
    <li class="page-item" *ngFor="let pagina of paginas" [ngClass]="pagina -1 == paginador.number?'active':'clas'">
      <!-- <span *ngIf="pagina -1 == paginador.number">{{ pagina }}</span> -->
      <a class="page-link" [routerLink]="['/clientes/page', pagina-1]" routerLinkActive="router-link-active">
        {{ pagina }} </a>
    </li>

    <!-- Arrow right -->
    <li class="page-item" *ngIf="paginador.number < paginador.totalPages - 1">
      <a class="page-link" aria-label="Next" [routerLink]="['/clientes/page', paginador.number+1]">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Siguiente</span>
      </a>
    </li>

    <!-- First -->
    <li class="page-item clearfix d-none d-md-block" [ngClass]="paginador.last?'disabled':''">
      <a class="page-link" [routerLink]="['/clientes/page', paginador.totalPages-1]">Last</a>
    </li>

  </ul>
</nav>
<!-- Pagination -->